<p>
  data saved successfully!
  
</p>
<div style="border:1px solid blue;text-align: center;width: 30%;margin-left: 30%;">
  <small>EmpId:</small><small>{{usermodel.empId}}</small><br>
  <small>City:</small><small>{{usermodel.city}}</small><br>
  <small>Description:</small><small>{{usermodel.description}} </small><br>
  <small>Name:</small><small>{{usermodel.name}}</small><br>
  <small>Rating:</small><small>{{usermodel.rating}}</small><br>
  </div>
  <a [routerLink]="['/']" class="btn btn-link">Go Back 2 Rating</a>
 
